@font-face {
  font-family: 'NotoSans';
  src: url(../assets/NotoSans-Regular.ttf);
}
@font-face {
  font-family: 'NotoSansSemiBold';
  src: url(../assets/NotoSans-SemiBold.ttf);
}
@font-face {
  font-family: 'NotoSansBold';
  src: url(../assets/NotoSans-Bold.ttf);
}

* {
  box-sizing: inherit;
}

:root {
  font-size: 16px;
  --main-bg-color: #F3F4F6;
  --secondary-bg-color: #FFFFFF;
  --primary-font: 'NotoSans';
  --primary-font-semi-bold: 'NotoSansSemiBold';
  --primary-font-bold: 'NotoSansBold';
  --primary-header-size: 2rem;
  --secondary-header-size: 1.25rem;
  --standard-border-radius: 12px;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--primary-font), sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

}

h1, h2, h3 {
  font-family: var(--primary-font-bold)
}

h1 {
  font-size: var(--primary-header-size);
}

h2 {
  font-size: var(--secondary-header-size);
}

button {
  background-color: inherit;
  border: none;
  font: inherit;
}

main input {
  background-color: var(--main-bg-color);
  padding: 10px;
  border-radius: var(--standard-border-radius);
  border: none;
  font-family: inherit;
  transition: border .25s, box-shadow .25s;
  border: 1.5px solid transparent;
}

main input:focus {
  outline: none;
  border-color: rgb(99, 99, 236);
  box-shadow: 0px 3px 15px rgba(59, 131, 246, 0.2);
}

#data-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#personal-details, #education-form {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;
  border-radius: var(--standard-border-radius);
}

.section-expander {
  position: relative;
  display: flex;
  place-content: center;
  padding: 24px;
}

.detail-section {
  border-radius: var(--standard-border-radius);
  background-color: var(--secondary-bg-color);
}

.visibility-btn {
  padding: 8px;
  display: flex;
}

.visibility-btn svg {
  color: rgb(176, 176, 176);
  width: 22px;
  height: 22px;
  transition: color .25s;
}

.visibility-btn svg:hover {
  color: black;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  border-top: 5px solid var(--main-bg-color);
  padding: 12px 14px 12px 24px;
}

.info:last-of-type {
  border-bottom: 5px solid var(--main-bg-color);
}

.infoText {
  font-family: var(--primary-font-semi-bold), sans-serif;
  text-align: center;
  margin: auto;
  word-break: break-all;
  word-spacing: 0;
}

.info-add-btn {
  margin: 18px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: var(--primary-font-bold);
  border: 4px solid var(--main-bg-color);
  padding: 8px 18px;
  border-radius: 24px;
}




label {
  font-family: 'NotoSansSemiBold', sans-serif;
}