@font-face {
  font-family: "NotoSans";
  src: url(../assets/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "NotoSansSemiBold";
  src: url(../assets/NotoSans-SemiBold.ttf);
}
@font-face {
  font-family: "NotoSansBold";
  src: url(../assets/NotoSans-Bold.ttf);
}

* {
  box-sizing: inherit;
}

:root {
  font-size: 16px;
  --main-bg-color: #f3f4f6;
  --main-bg-color-half-opacity: rgba(243, 244, 246, 0.5);
  --secondary-bg-color: #ffffff;
  --primary-font: "NotoSans";
  --primary-font-semi-bold: "NotoSansSemiBold";
  --primary-font-bold: "NotoSansBold";
  --primary-header-size: 2rem;
  --secondary-header-size: 1.25rem;
  --standard-border-radius: 12px;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--primary-font), sans-serif;
  box-sizing: border-box;
  line-height: 1.5rem;
}

main {
  display: flex;
  padding: 2rem 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--primary-font-bold);
}

h1 {
  font-size: var(--primary-header-size);
}

h2,
h3 {
  font-size: var(--secondary-header-size);
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  font: inherit;
}

main input,
main textarea {
  background-color: var(--main-bg-color);
  padding: 10px;
  border-radius: var(--standard-border-radius);
  border: none;
  font-family: inherit;
  transition: border 0.25s, box-shadow 0.25s;
  border: 1.5px solid transparent;
}

main input:focus,
main textarea:focus {
  outline: none;
  border-color: rgb(99, 99, 236);
  box-shadow: 0px 3px 15px rgba(59, 131, 246, 0.2);
}

#data-input {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  gap: 1.5rem;
  width: 40vw;
}

#personal-details,
.detail-form {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;
  border-radius: var(--standard-border-radius);
}

.form-btn-grp {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cancel-btn, .delete-btn, .confirm-btn {
  border-radius: 8px;
  padding: 6px;

}

.cancel-btn {
  background-color: var(--main-bg-color);
}

.confirm-btn {
  background-color: rgb(203, 203, 255);
}

.delete-btn {
  background-color: rgb(248, 163, 163);
}

.cancel-btn:hover {
  background-color: #c2c2c2;
}

.confirm-btn:hover {
  background-color: rgb(144, 144, 225);
}

.delete-btn:hover {
  color: white;
  background-color: rgb(246, 79, 79);
}

.section-expander {
  position: relative;
  display: flex;
  place-content: center;
  padding: 24px;
}

.detail-section {
  border-radius: var(--standard-border-radius);
  background-color: var(--secondary-bg-color);
}

.visibility-btn {
  padding: 8px;
  display: flex;
}

.visibility-btn svg {
  color: rgb(176, 176, 176);
  width: 22px;
  height: 22px;
  transition: color 0.25s;
}

.visibility-btn svg:hover {
  color: black;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  border-top: 5px solid var(--main-bg-color);
  padding: 12px 14px 12px 24px;
}

.info:last-of-type {
  border-bottom: 5px solid var(--main-bg-color);
}

.infoText {
  font-family: var(--primary-font-semi-bold), sans-serif;
  text-align: center;
  margin: auto;
  word-break: break-all;
  word-spacing: 0;
}

.info-add-btn {
  margin: 18px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: var(--primary-font-bold);
  border: 4px solid var(--main-bg-color);
  padding: 8px 18px;
  border-radius: 24px;
}

.info-add-btn:hover {
  border-color: rgb(171, 169, 169);
}

label {
  font-family: "NotoSansSemiBold", sans-serif;
}

.btn-wrapper {
  display: grid;
  place-content: center;
  background-color: rgb(93, 93, 196);
  padding: 8px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.show-resume-btn {
  display: none;
}

.corner-buttons {
  display: flex;
  gap: 8px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1;
}

.btn-wrapper:hover {
  opacity: 1;
}

.btn-wrapper:hover .button-tooltip {
  visibility: visible;
}

.button-tooltip {
  visibility: hidden;
  position: absolute;
  color: white;
  background-color: #124562;
  padding: 8px;
  margin: 0 12px;
  border-radius: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  font-size: 0.8rem;
  width: 250px;
  text-align: left;
}

.button-tooltip::after {
  border: 8px solid;
  border-color: transparent transparent transparent #124562;
  color: black;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  content: ''
}

.btn-wrapper svg {
  color: white;
  width: 48px;
  height: 48px;
}

@media print {
  @page {
    size: A4;
  }
  html,
  body {
    height: 100vh;
    overflow: hidden;
    visibility: hidden;
  }
  #CV {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
  .button-tooltip {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  main {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  #data-input {
    width: 100%;
    padding: 0 5vw;
  }

  .show-resume-btn {
    display: grid;
  }

  .btn-wrapper svg {
    width: 1em;
    height: 1em;
  }

  .print-btn {
    display: none;
  }

  .corner-buttons {
    margin-bottom: 1em;
  }

  .resume-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 4vh 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color-half-opacity);
    font-size: min(1vw, 1.4142857vh);
  }
  #CV {
    width: min(100em, 21cm) !important;
    height: 100% !important;
    overflow-y: auto !important;
    font-size: 1.6em;
  }
  .resume-name {
    font-size: 2em;
  }

  .resume-header-text {
    font-size: 1.6em;
  }
}